*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
 font-family:Arial, sans-serif;
 background:linear-gradient(135deg,#ff9a3c,#ff5f6d,#6a11cb);
 min-height:100vh;
 display:flex;
 justify-content:center;
 align-items:center;
}

/* CARD */
.card{
 width:380px;
 background:white;
 padding:25px;
 border-radius:12px;
 box-shadow:0 8px 25px rgba(0,0,0,0.2);
 text-align:center;
}

h2{
 margin-bottom:15px;
 color:#333;
}

input{
 width:100%;
 padding:10px;
 margin:8px 0;
 border:1px solid #ccc;
 border-radius:6px;
}

button{
 width:100%;
 padding:10px;
 margin-top:10px;
 border:none;
 border-radius:6px;
 cursor:pointer;
 background:#6a11cb;
 color:white;
 font-size:15px;
}

button:hover{
 background:#5011a8;
}

/* OPTIONS */
.option{
 display:block;
 width:100%;
 background:#f3f3f3;
 color:#000;
 margin:8px 0;
}

.correct{
 background:#2ecc71 !important;
 color:white;
}

.wrong{
 background:#e74c3c !important;
 color:white;
}

#score{
 margin-top:10px;
 font-weight:bold;
 color:#444;
}

.error{
 color:red;
 font-size:13px;
}

.hidden{
 display:none;
}

#leaderboard p{
 margin:5px 0;
 color:#333;
 font-weight:500;
}
